/* == Reset == */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@media screen {
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus, :active {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* == Pixel pattern in background of header thanks to 
http://www.kollermedia.at/pattern4u/lined/ == */

/*	== theme design by Chris Raymond, www.designtank.ws == */

/* Designed to a 960 px wide grid of 12 columns, each 60 px wide, with 20px gutters
   12 col = 940 px wide [#content has 10px padding left and right, 940+10+10=960]
   11 col = 860 px
   10 col = 780 px
    9 col = 700 px
    8 col = 620 px
    7 col = 540 px
    6 col = 460 px
    5 col = 380 px
    4 col = 300 px
    3 col = 220 px
    2 col = 140 px
*/

/* == Blue color palette:
   == tans:#cca, #bb8  
   == browns:#554 (body backgounrd color), #3C3C31 (main text/body text), #543 (item-type p) 
   == lt. blue: #9ce
*/

/* == Spring color palette:
   == grays:#cca, #707066  
   == deep purple:#bb3344 (body background color), #1a030c (main text/body text), #668888 (item-type p) 
   == spring green: #ccdd44
*/

/* == Fall color palette:
   == gold:#cc9933  
   == brick red:#770000, main body text: #221111 
   == dark warm gray: #3d3d3d
   == mocha (body background color): #b3ad9c
   == cream (main content background color): #fffff7 
*/

/* for this theme, image widths should conform to the grid: 140px, 220px, 300px, 380px, 460px,540px;
   maximum width for image in primary div is 600px, allowing 20px space to right for breathing room;
*/

/* ======== START LAYOUT ======= */
#wrap {
		margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
		text-align: left; /* this overrides the text-align: center on the body element. */
		width: 960px; padding-top:60px;
	} 
	/* == header == */
	#header { 
		position:relative;
		padding: 0 0 10px 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */	
	} 
	
		#site-title{
			padding:15px 0 0 15px;
		}
			
		#header #about {
			position:relative;
			top:-30px;
			left:400px;
			width: 320px;
		}
			.browse #header #about,
			.show #header #about,
			.item #header #about {
				display:none;
			} /*hides the About copy on inside pages*/
			#header #about p {
				font-family:Baskerville, "Hoefler Text", "Baskerville Old Face", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
				font-size: 18px;
				line-height: 1.2em;
				font-weight:normal;
			}
			#header #about .more a {
				font-size: .8em;
				font-weight:normal;
				text-decoration:none;
				letter-spacing:1px;
			}
	
			#searchwrap {
				position:absolute;
				bottom:0px;
				right:5px;
				text-align:right;
				height:45px;
			}
				#searchwrap a{
					text-decoration:none;
					padding:10px 5px 20px 0;
					line-height:20px;
				} 
				#header #search {
					border-bottom: 0px;
					padding:5px 5px 0 10px;
					font: 10px Verdana, Geneva, sans-serif;
					width:120px;
				}
				
				#submit_search {
					border: none; 
					background-color: transparent;
					padding:5px 5px 0px 0px;
					font: 10px Verdana, Geneva, sans-serif;
				}
				#advanced-search-link a {
					text-decoration:none;
					border:none;
					clear:both;
					text-align:right;
					font-size:1em;
					padding:4px 0;
					font-weight:bold;
				}
	/* == content == */	
	#content {
		padding: 20px 10px 20px 10px;
	}
	/* remember that padding is the space inside the div box and margin is the space outside the div box */
 
	/* == primary == */	
	#primary {
		float:left;
		width:610px;
	}
	#primary ul li {
		font-weight: normal;
		list-style-type: square;
	}
    #primary ul {
		margin-left: 1.2em;
	}
	#primary img.full {
	    max-width:100%;
	}
	.advanced-search #primary{
		width:920px;
		border:none;
		padding-top:30px;
	}
	#primary-nav{
		position:relative;
		padding:10px 0;
		margin:0;
	}
	
		/*== primary navigation div == */
		#primary-nav ul {
			position:absolute;
			top: 5px;
			right: 5px;
		}
		#primary-nav ul li{
			margin-right: 10px;
		}
		#primary-nav li,
		.navigation li {
			display:inline;
			font-family:"Century Gothic", "Apple Gothic", "Lucida Sans Unicode", "Franklin Gothic Medium", sans-serif;
			padding:.5em;
			margin-left:0px;
			font-weight: normal;
			font-size:1em;
		}
		#primary-nav a, 
		.navigation a {
			text-decoration:none;
			font-weight:normal;
			margin-left:15px;
		}
	/* == secondary == */	
	#secondary {
		float: right;
		width: 310px;
		margin-right: 0px;
		overflow: hidden;
		padding-left:10px;}		
    /* == footer == */		
	#footer {
		clear:both;
		padding-top:20px;
		overflow:hidden;
		zoom:1;
		position:relative;
		}
		#footer .navigation {
			float:right;
			width: 600px;
			text-align:right;
			padding:5px 5px 0 0;
		}
		#footer .navigation li {
			list-style-type:none;
			margin-left:5px;
			padding:0.5em 0.5em 0.5em 5px;
		}
		#footer .navigation a {
			font-size:0.75em;
		}

		#footer #footer-text {
			float:left;
			width: 590px;
			padding: 10px;
			font-size: 9px;
			line-height:1em;
		}	
/* ==== END LAYOUT ==== */


/* ===== TYPOGRAPHY, GENERIC STYLES and MISC CLASSES ======== */
	body {
		font-size:62.5%;
		width:960px;
		margin: 0 auto;
	}
	
	h1,
	h2 {
		font-family: Baskerville, "Hoefler Text", "Baskerville Old Face", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
	}
	#header h1 {
		font-size:2.8em;
		margin-bottom:0.5em;
		line-height:1em;
		letter-spacing: -1px;
		font-weight:normal;
	}
	#primary h1{
		font-size:2.5em;
		letter-spacing:normal;
		line-height:2em;
		margin-bottom:1em;
	}
	.bolded {
		font-weight:bold;
		font-family:inherit;
	}
	h2 {
		font-size:1.8em;
		margin-bottom:0.5em;
		line-height:1em;
	}
	h3,
	h4 {
		font-family: Verdana, sans-serif;
		font-weight:bold;
	}
	h3 {
		font-size:1.2em;
		margin-bottom:.5em;
		line-height:1em;
	}
	h4 {
		font-size:1em;
		margin-bottom:.5em;
		line-height:1em;
	}
	p,
	.exhibit .description,
	.exhibit-item,
	.exhibit-text,
	.item-description,
	.element-text {
		font-family: "Century Gothic", "Apple Gothic", "Lucida Sans Unicode", "Franklin Gothic", sans-serif;
	}
	.exhibit-item {
		font-weight:bold;
		line-height:2em;
		font-size:1.25em;
	}
	
		p.sitetitle {
			font-size:3.8em;
			margin-bottom:0em;
			line-height:1.5em;
		}
			p.sitetitle a {
				text-decoration:none;
				}
		p.tagline {
			margin-top:-0em;
			font-size:1.5em;
			font-style:italic;
		}
		
	h1 a,
	h2 a,
	h3 a {
		text-decoration:none;
	}
	
	#secondary h2 {
		text-align:center;
	}
		

	#secondary dl a{text-decoration:none;}
	#secondary dl {overflow:hidden;}
	#secondary dd{
		margin-left: 0px;
		font-weight:normal;
		margin-bottom: 1.5em;
		margin-top:0;
		padding-top:5px;
		font-size:.8em;
		line-height:1.5em;
	}
	#secondary dt {
		margin-left: 0;
		padding-top: 5px;
		margin-top:10px;}
		#secondary dt,
		#secondary dt a {
			font-weight:bold;
		}
	#secondary dd .item-img{
		float:left;
		width:50px;
		height:50px;
		margin: 5px 25px 20px 0;
	}
			/*= this is the containing div to force images to 100% width using jquery.imagefit.js; = 
			  = this function is applied in custom.js in your theme put margins on the container, not the image =
			*/

	/* more specific styles for show page sidebar def list*/
	#secondary #show-sidebar {
		padding: 20px 5px 20px 10px;
	}
		.show #secondary dd{
			margin-left: 10px;
			font-weight:normal;
			margin-bottom: .5em;
		}
		.show #secondary dt {
			margin-left: 0;
			font-weight:bold;
			border:none;
			padding-top: 0px;
		}
		.show #secondary a {
			text-decoration:none;
			font-weight:normal;
		}
			.show .desc {clear:left;}

	/* Misc. Elements */
	object {
		margin-bottom:18px;
		display:block;
	}
	p,
	ul,
	ol,
	dl,
	.item-description,
	.exhibit .description,
	.element-text {
		font-size:1.3em;
		line-height:1.5em;
		margin-bottom:1.5em;
	}
		li * {font-size:1.1em;}
		ul {list-style:square;}
		ol {list-style:decimal;}
		ul,ol {margin-left:30px;}
		ul li {font-weight: normal;}
			ul ul {margin-left: 30px;}
			ul ul li {
				list-style-type:square;
				background: none;
				font-size: 0.75em;
				padding-left: 0px;
			}
		ul.bibliography li {
			margin-bottom:1.5em;
			text-indent:-1.5em;
			margin-left:1.5em;
		}
		dd {margin-left:1.33333em;}
		em,i { font-style:italic; }
		strong,b {font-weight:bold;}
	
	.field p {margin-bottom:0.5em;}
		.more {
			font: .75em Century Gothic, sans-serif;
			text-transform:uppercase;
			font-weight:bold;
		}
		.hidden {text-indent:-999em;}
	.utility-text {font-size:10px;}
	
	
	/* Forms */
	form {margin-bottom:3em;}
	.advanced-search form {
		padding:20px 5px 20px 20px;
		width:540px;
	}
	form#simple-search{
		margin:0;
		padding:0;
		width:200px;
	}
	legend {display:none;}
	fieldset {
		display:block;
		clear:both;
	}
	label,
	.label {
		font-size:1.5em;
	}
	.label{
		width:114px;
	}
	.field {
		padding:.5em 0 .5em 0;
		overflow:hidden;
		width:512px;
		margin-bottom:2em;
	}
	.field label {
		float:left;
		width: 114px;
		font-weight:normal;
		clear:left;
	}
	.field .textinput,
	.field select {
		float:right;
		width: 378px;
	}
	.field select {width: 382px;}
	.field input {margin:0;}
	
	input.submitinput {margin-top:1em;}

	.radioinputs {
		display:block;
		margin-bottom:0.5em;
		overflow:hidden;
	}
	.radioinputs label {
		display:block;
		float:left;
		width: 48%;
		clear:none;
	}

	input#description {
		width: 378px;
		height: 312px;
	}
	#advanced-0-terms {margin:5px 0 0 130px;} 
	#submit_search_advanced{
		margin-top:20px;
		margin-left:460px;
	}
	textarea#rights {
		float:none;
		display:none;
		line-height:1.33333em;
		width: 512px;
		border:none;
		font:1.5em Baskerville,"Times New Roman",Times, serif;
		height:31em;
		padding:0;
		margin:0;
	}

	#items_search {float:right;}

	/* Misc classes */
	.item-pagination {
		overflow:hidden;
		width:560px;
		margin-bottom:1.5em;
		padding-top:2em;
	}
	.item-pagination li.previous {
		display:block;
		float:left;
		width:20%;
		padding-left:15px;
	}
	.item-pagination li.next {
		float:right;
		display:block;
		width: 48%;
		text-align:left;
		padding-left:15px;
	}
	.hide {text-indent: -1000em;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	div.error {
		font-size:1.5em;
		line-height:1.33333em;
		margin:1.33333em 0;
	}

	.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
		float: right;
		margin-left: 8px;
	}
	.fltlft { /* this class can be used to float an element left in your page */
		float: left;
		margin:0;
		padding:5px 10px 0 0;
	}
	.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
		clear:both;
		height:0;
		font-size: 1px;
		line-height: 0px;
	}
	ul.navigation li {
		font-weight: normal;
		list-style-type:none;
		padding-left: 20px;
	}
	.browse ul.navigation li {background:none;}
	.navigation li, .pagination li {display:inline;}
	.pagination li {display:inline-block;}
	.navigation a, .pagination a {text-decoration:none;}
	
	ul.item-pagination li {
		background-image:none;
		font-weight:normal;
		list-style-type:none;
		padding-left:0;
	}
	ul.item-pagination a {margin-left:0;}
	ul.title-list {padding-left:0px;} 
		ul.title-list li{
			list-style-type:square;
			list-style-position:inside;
			font-style:italic;
			line-height:1.5em;
			font-family:"Century Gothic", Arial, Helvetica, sans-serif;
		}

	ul.exhibit-section-nav{
		margin-top:2em;
		margin-bottom:.5em;
	}
	
	#exhibit-page-navigation {
		clear:both;
		margin-bottom:1em;
		float:right;
	}
	#exhibit-page-navigation .next-page {
		margin-left:2em;
	}

	#secondary .exhibit-section-nav a {text-decoration: none;} 
		#secondary .exhibit-section-nav a:hover{text-decoration:underline;}

	#secondary .exhibit-page-nav a {text-decoration: none;} 
		#secondary .exhibit-page-nav a:hover {text-decoration:underline;}

	/* Microformats */
	.hTagcloud {margin-top:2em;}
	.hTagcloud ul {
		list-style:none;
		margin-left:0;
		padding-left:0;
		line-height:2.2em;
	}
		.hTagcloud li {
			display:inline;
			margin-right:8px;
			background-image:none;
			margin-left:0;
			padding-left:0
		}

		.popular {font-size:100%;}
		.v-popular {font-size:140%;}
		.vv-popular {font-size:180%;}
		.vvv-popular {font-size:220%;}
		.vvvv-popular {font-size:260%;}
		.vvvvv-popular {font-size:300%;}
		.vvvvvv-popular {font-size:340%;}
		.vvvvvvv-popular {font-size:380%;}
		.vvvvvvvv-popular {font-size:420%;}
		
		/* == Browsing secondary nav css sprites == */
		
		ul#secondary-nav {
		    font-size:86%;
		    margin-left:0;
		    list-style:none;
		}
		ul#secondary-nav li {
		    display:inline;
		    margin:0;
		    padding:0;
		}
		
		ul#secondary-nav a {
		    border-radius: 8px;
		    -moz-border-radius: 8px;
		    -webkit-border-radius: 8px;
		    text-transform:uppercase;
		    padding: 6px 10px;
		    margin:0;
		    letter-spacing:1px;
		}

		/* == Pagination Navigation ==*/
		.pagination ul {
			text-align:right;
			list-style:none;
			padding:0 0.5em;
			margin-bottom: 30px;
		}
		.pagination ul li,
		.pagination li,
		.pagination li a {
			font-size: 11px;
			font-family: Verdana, Arial, sans-serif;
		}
			.pagination ul li {background:none;}
			.pagination li {
				display:inline-block;
				margin-bottom:0;
				padding:.5em;
			}
			.pagination li a {
				text-decoration:none;
			}			
		/* items meta data and browsing pages styles */
		.item {
			float:left;
			clear:both;
			margin-bottom:30px;
		}
		.item-img img {
			float:left;
			padding: 5px;
			margin: 0 10px 20px 0;
		}
		.show img {
			border:none;
			margin-bottom: 20px;
			margin-left:0;
			padding-left:0
		}
		.item .desc h4,
		.item .desc p {
			font-weight:normal;
			padding-right: 10px;
			font-size: 1.3em;
			line-height: 150%;
		} 
		.item-type {
			font-weight:bold;
			font-size: 100%;
			font-family:Arial, Helvetica, sans-serif;
		} 
			p.item-type {
				margin-bottom:.5em;
				text-transform:uppercase;
				font-size:.7em;
			}
		.item-meta {
			margin-left:20px;
			width:580px;
			padding-top: 15px;
		}
		.show .item-meta{
			margin-left:0;
			width:610px;
			border-top:0px;
			padding-top:0;
		}
		.item-meta h3 {font-size:1.33em;}
		
		.tags strong {font-size:.9em;}
		p.view-items-link {
			text-align:right;
			padding-right:0px;
			font-size:.8em;
			text-transform:uppercase;
			margin-bottom:40px;
		}
			p.view-items-link a {text-decoration:none;}

		p.tags {margin-bottom:2em;}
		
		/* .meta-main is the div that positions the item meta data in the primary content area and puts a dashed border above it */
		.meta-main {
			padding: 10px 0 0 100px;
			margin-bottom: 20px;
		}
			.meta-main p {
				text-align:right;
				padding-right: 10px;
			}
			.meta-main .runinHead {
				font-family: Verdana, sans-serif;
				font-weight:bold;
				font-size:.8em;
			}
		
	/*featured box styles  --may need to modify properties for these boxes on inside pages 
	and add .home in front of these 	selectors--*/
	.featured-box {
		float:left;
		width:560px;
		position:relative;
		margin-bottom: 20px;
		padding:20px;
	}
		#secondary .featured-box{width:280px;padding:20px 10px;} 
		#secondary .featured-box p{clear:both;} 
				#secondary .featured-box p{clear:both;} 
				#secondary .featured-box p .title, 
				#secondary .featured-box p .title a, 
				#primary .featured-box p .title, 
				#primary .featured-box p .title a:visited, 
				#secondary .featured-box p .title a:visited {
					text-transform:uppercase;
					font-weight:bold;} 
				
				#secondary .featured-box p .title a, 
				#primary .featured-box p .title a{
					text-decoration:none;
					}
		#secondary .featured-box img {margin-left:65px;}/*NOTE: The featured item img in secondary is the square thumbnail, which is constrained to*/
	.featured-box h2 {
		font-family: "Baskerville", Georgia, serif;
		font-size:2em;
		margin-bottom: .75em;
		font-weight:bold;
		text-align:center;
		padding:10px 0
	}
	.featured-box p,
	.description p {
		font: 1.2em/1.5em "Century Gothic", "Apple Gothic", "Lucida Sans Unicode", "Franklin Gothic", sans-serif;
		margin-right: 10px;
	}
	.type-featured {text-transform:uppercase;
		margin-top: 10px;
		font: .9em "Century Gothic", Arial, sans-serif;
		} /*this styles the part of h2 that specifies the type of thing featured--Collection or Exhibit */
	.featured-box.title, 
	.featured-box.title a {
		text-transform:uppercase;
		font-weight: bold;
		font-family: "Century Gothic", "Apple Gothic", "Lucida Sans Unicode", "Franklin Gothic Medium";
		text-decoration:none;}
	.featured-box img {
		float:left;
		margin:1em 10px 10px 0;
	}
		
	/*styles for sidebar featured item */
	#sidebar-featured-item {padding-top:10px;} 
		.featured img {
			float:left;
			margin:0 10px;
			padding:5px;
		}
		#sidebar-featured-item .description p {
			font-weight:normal;
			margin: 0 5px 5px 10px;
			padding-bottom: 20px;
		}
		#sidebar-featured-item h2 {
			text-align:center;
			letter-spacing: 0;
			margin-bottom: 10px;
			font-weight:normal;
		} 
			#sidebar-featured-item a {text-decoration:none;}

    /* Styles for home sidebar recent items */
    #recent-items .item-img {
        width: 50px;
        height:50px;
    }
    
    #recent-items .item-img img {
        max-width:100%;
    }

/*Blue styles*/
.blue #wrap {background: #fff url(../images/blue/bg-top.jpg) top left no-repeat;}
.blue #header {
	border-bottom: 5px solid #9ce;
	border-top: 5px solid #9ce;
	background: #3c3231 url(../images/blue/bg_header.gif) repeat top;
}
.blue #header #about p {color:#fff;}
.blue #header #about .more a {color:#bb8;}
.blue #header #about .more a:hover {color: #9ce;}
.blue #searchwrap {background-color:#9ce;}
	.blue #searchwrap a {color:#fff;}
	.blue #searchwrap a:visited{color:#323232;}
	.blue #searchwrap a:hover {color:#fff;}
	.blue #header #search {
		border: 5px solid #9ce;
		background: #fff;
	}
	.blue #submit_search {color:#fff;}
	.blue #advanced-search-link a {color:#345;}
.blue #primary-nav{background-color:#fff;}
	.blue #primary-nav ul li{background:url(../images/blue/bullet-omeka.png) no-repeat 0 50%;}
	.blue .navigation li {color: #3c3c31;}
	.blue .navigation a {color: #3c3c31;}
	.blue #primary-nav a:hover,
	.blue .navigation a:hover{
		color:#9ce;
	}	
	.blue #primary-nav .current a, 
	.blue .exhibits #primary-nav li.nav-exhibits a, 
	.blue .collections #primary-nav li.nav-collections a, 
	.blue .about #primary-nav li.nav-about a, 
	.blue .items #primary-nav li.nav-items a {
		color:#bb8;
		background-color:#fff;
	} /* makes the primary nav link on the current page tan; gets class [exhibits, .collections, .about] from assigned body class in theme php */
	/* == secondary == */	
	.blue #secondary {border-left: 1px solid #9ce;}
	/* == footer == */		
	.blue #footer {background:#fff url(../images/blue/bg-footer.jpg) no-repeat left top;}
		.blue #footer .navigation {background:#fff;}
		.blue #footer .navigation li {background:transparent url(../images/blue/bullet-omeka.png) no-repeat scroll 0 50%;}
		.blue #footer .navigation a {color:#323231;}
		.blue #footer .navigation .current a {color:#BBBB88;}
		.blue #footer #footer-text {color:#000;}	
.blue body {
	color:#3c3231;
	background-color: #3c3231;
}
.blue #primary h1 {color:#543;}
.blue h2 {color:#9ce;}
.blue h3,
.blue h4 {
	color:#bb8;
}
.blue p,
.blue .exhibit .description,
.blue .exhibit-item,
.blue .exhibit-text,
.blue .item-description {
	color:#3c3c31;
}
	.blue p.sitetitle {color:#fff;}
		.blue p.sitetitle a {color:#fff;}
	.blue p.tagline {color:#fff;}
.blue .exhibit .tags {color:#3c3c31}
.blue .exhibit .tags a{color:#9ce;}
.blue a:link {color:#9ce;}
.blue a:visited {color:#9ce;}
.blue a:hover {color:#3c3c31;}
.blue a:active { color:#ddb; }

.blue .archive a:link {color:#9ce;}
.blue .archive a:visited {color:#9ce;}
.blue .archive a:hover {color: #9ce;}
.blue .archive a:active {color: #9ce;}

.blue #header h1 a {color:#fff;}

.blue #secondary h2 {color: #554422;}

.blue #secondary dl,
.blue #secondary dt a {
	color:#323232;
}
.blue #secondary dt {border-top: 1px dashed #bb8;}
.blue #secondary #show-sidebar {
	background-color:#eed;
	border-top: 1px dashed #bb8;
	border-bottom: 1px dashed #bb8;
}
	.blue .show #secondary dl {color:#544;}

	.blue .show #secondary a {color: #000;}

	.blue .show #secondary a:hover {color:#fff;}
.blue .advanced-search form {background-color:#9ce;}
	.blue label,
	.blue .label {
		color:#000;
	}
	.blue .field {border-bottom:1px dashed #fff;}
	.blue .field .textinput,
	.blue .field select {
		background-color:#fff;
	}

	.blue textarea#rights {color:#444;}
.blue ul.navigation li {background:url(../images/blue/bullet-omeka.png) no-repeat 0 50%;}
.blue ul.title-list li{color:#543;}
.blue #secondary .exhibit-section-nav a {color:#554;}
	.blue #secondary .exhibit-section-nav a:hover{color: #bb8;}
	.blue #secondary .exhibit-section-nav .current a {color:#bb8;}

.blue #secondary .exhibit-page-nav a {color:#554;}
    .blue #secondary .exhibit-page-nav a:hover {color: #bb8;}
	.blue #secondary .exhibit-page-nav .current a {color:#bb8;}

.blue .popular a, .blue .popular a:visited {color: #3c3c31;} 
.blue .v-popular a, .blue .v-popular a:visited {color: #3c3c31;}
.blue .vv-popular a, .blue .vv-popular a:visited {color: #3c3c31;}
.blue .vvv-popular a, .blue .vvv-popular a:visited {color: #7ac;}
.blue .vvvv-popular a, .blue .vvvv-popular a:visited {color: #7ac;}
.blue .vvvvv-popular a, .blue .vvvvv-popular a:visited {color: #9ce;}
.blue .vvvvvv-popular a, .blue .vvvvvv-popular a:visited {color: #9ce;}
.blue .vvvvvvv-popular a, .blue .vvvvvvv-popular a:visited {color: #9ce;}
.blue .vvvvvvvv-popular a, .blue .vvvvvvvv-popular a:visited {color: #9ce;}

.blue ul#secondary-nav a {color: #fff;}
    .blue ul#secondary-nav a:link,
    .blue ul#secondary-nav a:visited {
        background-color: #bb8;
    }
    .blue ul#secondary-nav a:hover,
    .blue ul#secondary-nav a:active {
        background-color: #9ce;
    }
    .blue ul#secondary-nav li.current a {background: #3c3c31;}
.blue .pagination_current{color:#cca;}

.blue .pagination li a {color: #323232;}
	.blue .pagination li a:hover {color: #9ce;}
	.blue .pagination ul li.pagination_next a,
	.blue .pagination ul li.pagination_last a,
	.blue .pagination ul li.pagination_previous a,
	.blue .pagination ul li.pagination_first a {
	    color:#9ce;
	}
	.blue .pagination ul li.pagination_next a:hover, 
	.blue .pagination ul li.pagination_last a:hover, 
	.blue .pagination ul li.pagination_previous a:hover, 
	.blue .pagination ul li.pagination_first a:hover {
	    color:#3c3c31;
	}
.blue .item-img img {border: 1px solid #ddb;}
.blue .item-type {color: #554433;}
.blue .item-meta {border-top: 1px dashed #ddb;}
.blue p.view-items-link {color:#554;}
.blue p.view-items-link a {color:#554;}
.blue .meta-main {border-top: 1px dashed #ddb;}
.blue .meta-main .runinHead {color:#543;}
.blue #secondary .featured-box p .title, 
.blue #secondary .featured-box p .title a, 
.blue #primary .featured-box p .title, 
.blue #primary .featured-box p .title a:visited, 
.blue #secondary .featured-box p .title a:visited {
    color:#fff;
}
.blue #secondary .featured-box p .title a, 
.blue #primary .featured-box p .title a{
	color:#fff;
}
.blue .featured-box h2 {
	color: #3c3c31;
	;border-bottom:1px dashed white;
}
.blue .featured-box.title a {color:#fff;}
.blue .featured-box.title a:visited{color:#fff;} /* this styles the title of featured item in the start of the featured-box p */
.blue .featured-box img {border: 10px solid #fff;}
.blue #featured-exhibit,
.blue #featured-item {
    background-color: #bb8;
}
.blue #featured-collection {background-color: #9ce;}
.blue #sidebar-featured-item {background: #544;}
.blue .featured img {
	border: 1px solid #ddb;
	background:#fff;
}
.blue #sidebar-featured-item .description p {color: #fff;}
.blue #sidebar-featured-item h2 {color: #fff;}
.blue #sidebar-featured-item a {color:#fff;}
.blue #featured-item a:hover {color: #9ce;}

/*Fall Styles*/
.fall #wrap {background: #fffff7 url(../images/fall/bg-top.png) top left no-repeat;}
.fall #header {
    border-bottom: 5px solid #cc9933;
    border-top: 5px solid #cc9933;
	background: #3d3d3d url(../images/fall/bg-header.png) repeat top;
}
.fall #header #about p {color:#fffff7;}
.fall #header #about .more a {color:#b3ad9c;}
.fall #header #about .more a:hover {color: #cc9933;}
.fall #searchwrap {background-color:#cc9933;}
.fall #searchwrap a{color:#fffff7;}
.fall #searchwrap a:visited{color:#221111;} 
.fall #searchwrap a:hover {color:#fffff7;}
.fall #header #search {border: 5px solid #cc9933; background: #fffff7;}
.fall #submit_search {color:#fffff7;}
.fall #advanced-search-link a {color:#345;}
.fall #primary-nav{
    position:relative;
    background-color:#fffff7;
}
.fall #primary-nav ul li{background:url(../images/fall/bullet-omeka.png) no-repeat 0 50%;}
.fall #primary-nav li,
.fall .navigation li{
    color: #221111;
}
.fall #primary-nav a,
.fall .navigation a {
    color: #221111;
}
.fall #primary-nav a:hover,
.fall .navigation a:hover{
    color:#cc9933;
}
.fall #primary-nav .current a, 
.fall .exhibits #primary-nav li.nav-exhibits a, 
.fall .collections #primary-nav li.nav-collections a, 
.fall .about #primary-nav li.nav-about a, 
.fall .items #primary-nav li.nav-items a {
    color:#cc9933;
    background-color:#fffff7;
}
.fall #secondary {border-left: 1px solid #cc9933;}
.fall #footer {background:#fffff7 url(../images/fall/bg-footer.png) no-repeat left top;}
.fall #footer .navigation {background:#fffff7;}
.fall #footer .navigation li {background:transparent url(../images/fall/bullet-omeka.png) no-repeat scroll 0 50%;}
.fall #footer .navigation a {color:#221111;}
.fall #footer .navigation .current a {color:#b3ad9c;}
.fall #footer #footer-text {color:#000;}
.fall body {
    color:#332211;
    background-color: #b3ad9c;
}
.fall #primary h1 {color:#543;}
.fall h2 {color:#cc9933;}
.fall h3,
.fall h4 {
    color:#b3ad9c;
}
.fall p,
.fall .exhibit .description,
.fall .exhibit-item,
.fall .exhibit-text {
    color:#221111;
 }
.fall p.sitetitle {color:#fff;}
.fall p.sitetitle a {color:#fff;}
.fall p.tagline {color:#fff;}
.fall .exhibit .tags {color:#221111}
.fall .exhibit .tags a{color:#cc9933;}
.fall a:link {color:#770000;}
.fall a:visited {color:#3d3d3d;}
.fall a:hover {color:#cc9933;}
.fall a:active { color:#cc9933; }
.fall .archive a:link {color:#770000;}
.fall .archive a:visited {color:#3d3d3d;}
.fall .archive a:hover {color: #cc9933;}
.fall .archive a:active {color: #cc9933;}
.fall .tags a:link{color:#c93;} 
.fall .tags a:hover{color:#700;}
.fall #header h1 a {color:#fff;} 
.fall #secondary h2 {color: #770000;} 
.fall #secondary #featured-item h2{color:#221111;}
.fall #secondary dl,
.fall #secondary dt a {
    color:#221111;
}
.fall .fall #secondary dt {border-top: 1px dashed #b3ad9c;}
.fall #secondary #show-sidebar {
    background-color:#eed;
    border-top: 1px dashed #b3ad9c;
    border-bottom: 1px dashed #b3ad9c;
}
.fall .show #secondary dl {color:#544;}
.fall .show #secondary a {color: #000;}
.fall .show #secondary a:hover {color:#fff;}
.fall .advanced-search form {background-color:#cc9933;}
.fall label,
.fall .label {color:#000;}
.fall .field {border-bottom:1px dashed #fff;}
.fall .field .textinput,
.fall .field select {
    background-color:#fff;
}
.fall textarea#rights {color:#444;}
.fall ul.navigation li {background:url(../images/fall/bullet-omeka.png) no-repeat 0 50%;}
.fall ul.title-list li{color:#543;}
.fall #secondary .exhibit-section-nav a {color:#770000;}
.fall #secondary .exhibit-section-nav a:hover{color: #c93;}
.fall #secondary .exhibit-section-nav .current a {color:#c93;}
.fall #secondary .exhibit-page-nav a {color:#770000;} 
.fall #secondary .exhibit-page-nav a:hover{color: #c93;}
.fall #secondary .exhibit-page-nav .current a {color:#c93;}
.fall .popular a{color: #cc9933;text-decoration:none;} .fall .popular a:visited {color: #777;}
.fall .v-popular a{color: #cc9933;text-decoration:none;} .fall .v-popular a:visited {color: #777;}
.fall .vv-popular a{color: #cc9933;text-decoration:none;} .fall .vv-popular a:visited {color: #777;}
.fall .vvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvv-popular a:visited {color: #777;}
.fall .vvvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvvv-popular a:visited {color: #777;}
.fall .vvvvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvvvv-popular a:visited {color: #777;}
.fall .vvvvvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvvvvv-popular a:visited {color: #777;}
.fall .vvvvvvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvvvvvv-popular a:visited {color: #777;}
.fall .vvvvvvvv-popular a{color: #cc9933;text-decoration:none;} .fall .vvvvvvvv-popular a:visited {color: #777;}
.fall ul#secondary-nav a {color: #fff;}
.fall ul#secondary-nav a:link,
.fall ul#secondary-nav a:visited {background-color: #900;}
.fall ul#secondary-nav a:hover,
.fall ul#secondary-nav a:active {
    background-color: #c93;
}
.fall ul#secondary-nav li.current a {background: #211;}
.fall .pagination_current{color:#cc9933;}
.fall .pagination li a {color: #221111;} 
.fall .pagination li a:hover {color: #cc9933;}
.fall .pagination ul li.pagination_next a,
.fall .pagination ul li.pagination_last a,
.fall .pagination ul li.pagination_previous a,
.fall .pagination ul li.pagination_first a {
    color:#cc9933;
}
.fall .pagination ul li.pagination_next a:hover, 
.fall .pagination ul li.pagination_last a:hover, 
.fall .pagination ul li.pagination_previous a:hover, 
.fall .pagination ul li.pagination_first a:hover {
    color:#770000;
}
.fall .item-img img {border: 1px solid #b3ad9c;}
.fall .item-type {color: #554433;}
.fall .item-meta {border-top: 1px dashed #fffff7;}
.fall p.view-items-link {color:#554;}
.fall p.view-items-link a {color:#554;}
.fall .meta-main {border-top: 1px dashed #fffff7;}
.fall .meta-main .runinHead {color:#543;}
.fall #secondary .featured-box p .title, 
.fall #secondary .featured-box p .title a, 
.fall #primary .featured-box p .title, 
.fall #primary .featured-box p .title a:visited, 
.fall #secondary .featured-box p .title a:visited {
    color:#fff;
}
.fall #secondary .featured-box p .title a, 
.fall #primary .featured-box p .title a{
    color:#fff;
}
.fall .featured-box h2 {
    color: #221111;
    border-bottom:1px dashed white;
}
.fall .featured-box.title,
.fall .featured-box.title a {
    color:#fff;
}
.fall .featured-box.title a:visited{color:#fff;}
.fall .featured-box img {border: 10px solid #fff;}
.fall #featured-exhibit,
.fall #featured-item {
    background-color: #b3ad9c;
}
.fall #featured-collection {background-color: #cc9933;}
.fall #sidebar-featured-item {background: #544;}
.fall .featured img {border: 1px solid #fffff7;background:#fff;}
.fall #sidebar-featured-item .description p {color: #fff;}
.fall #sidebar-featured-item h2 {color: #fff;}
.fall #sidebar-featured-item a {color:#fff;}
.fall #featured-item a:hover {color: #cc9933;}

/*Spring Styles*/
.spring #wrap {background: #fff url(../images/spring/bg-top.png) top left no-repeat;}
.spring #header {
	border-bottom: 5px solid #ccdd44;
	border-top: 5px solid #ccdd44;
	background: #bb3344 url(../images/spring/bg-header.png) repeat top;
}
.spring #header #about p {color:#fff;}
.spring #header #about .more a {color:#707066;}
.spring #header #about .more a:hover {color: #ccdd44;}
.spring #searchwrap {background-color:#ccdd44;}
.spring #searchwrap a{color:#fff;}
.spring #searchwrap a:visited{color:#1a030c;} 
.spring #searchwrap a:hover {color:#fff;}
.spring #header #search {
    border: 5px solid #ccdd44;
    border-bottom: 0px;
    background: #fff;
}
.spring #submit_search {color:#fff;}
.spring #advanced-search-link a {color:#345;}
.spring #primary-nav{background-color:#fff;}
.spring #primary-nav ul li{background:url(../images/spring/bullet-omeka.png) no-repeat 0 50%;}
.spring #primary-nav li,
.spring .navigation li{
    color: #1a030c;
}
.spring #primary-nav a,
.spring .navigation a {
    color: #1a030c;
}
.spring #primary-nav a:hover,
.spring .navigation a:hover{
    color:#ccdd44;
}
.spring #primary-nav .current a, 
.spring .exhibits #primary-nav li.nav-exhibits a, 
.spring .collections #primary-nav li.nav-collections a, 
.spring .about #primary-nav li.nav-about a, 
.spring .items #primary-nav li.nav-items a {
    color:#707066;
    background-color:#fff;
}
.spring #secondary {border-left: 1px solid #ccdd44;}
.spring #footer {background:#fff url(../images/spring/bg-footer.png) no-repeat left top;}
.spring #footer .navigation {background:#fff;}
.spring #footer .navigation li {background:transparent url(../images/spring/bullet-omeka.png) no-repeat scroll 0 50%;}
.spring #footer .navigation a {color:#1a030c;}
.spring #footer .navigation .current a {color:#7070668;}
.spring #footer #footer-text {color:#000;}
.spring body {
    color:#663344;
    background-color: #2b1520;
}
.spring #primary h1{color:#663344;}
.spring h2 {color:#668888;}
.spring h3,
.spring h4 {
    color:#707066;
}
.spring p,
.spring .exhibit .description,
.spring .exhibit-item,
.spring .exhibit-text {
    color:#1a030c;
}
.spring p.sitetitle {color:#fff;}
.spring p.sitetitle a {color:#fff;}
.spring p.tagline {color:#fff;}
.spring .exhibit .tags {color:#1a030c}
.spring .exhibit .tags a{color:#ccdd44;}
.spring a:link {color:#668888;}
.spring a:visited {color:#ccdd44;}
.spring a:hover {color:#ccdd44;}
.spring a:active { color:#663344; }
.spring .archive a:link {color:#668888;}
.spring .archive a:visited {color:#ccdd44;}
.spring .archive a:hover {color: #ccdd44;}
.spring .archive a:active {color: #668888;}
.spring .tags a:link{color:#668888;} 
.spring .tags a:hover{color:#ccdd44;}
.spring #header h1 a {color:#fff;} 
.spring #secondary h2 {color: #668888;}
.spring #secondary #featured-item h2{color:#1a030c;}
.spring #secondary dl,
.spring #secondary dt a {
    color:#1a030c;
}
.spring #secondary dt {border-top: 1px dashed #707066;}
.spring #secondary #show-sidebar {
    background-color:#eed;
    border-top: 1px dashed #707066;
    border-bottom: 1px dashed #707066;
}
.spring .show #secondary dl {color:#544;}
.spring .show #secondary a {color: #000;}
.spring .show #secondary a:hover {color:#fff;}
.spring .advanced-search form {background-color:#ccdd44;}
.spring label,
.spring .label {
    color:#000;
}
.spring .field {border-bottom:1px dashed #fff;}
.spring .field .textinput,
.spring .field select {
    background-color:#fff;
}
.spring textarea#rights {color:#444;}
.spring ul.navigation li {background:url(../images/spring/bullet-omeka.png) no-repeat 0 50%;}
.spring ul.title-list li{color:#543;}
.spring #secondary .exhibit-section-nav a,
.spring #secondary .exhibit-page-nav a {
    color:#688;
}
.spring #secondary .exhibit-section-nav a:hover,
.spring #secondary .exhibit-section-nav .current a,
.spring #secondary .exhibit-page-nav a:hover,
.spring #secondary .exhibit-page-nav .current a {
    color:#634;
}
.spring .popular a{color: #668888;text-decoration:none;} .spring .popular a:visited {color: #777;}
.spring .v-popular a{color: #668888;text-decoration:none;} .spring .v-popular a:visited {color: #777;}
.spring .vv-popular a{color: #668888;text-decoration:none;} .spring .vv-popular a:visited {color: #777;}
.spring .vvv-popular a{color: #668888;text-decoration:none;} .spring .vvv-popular a:visited {color: #777;}
.spring .vvvv-popular a{color: #668888;text-decoration:none;} .spring .vvvv-popular a:visited {color: #777;}
.spring .vvvvv-popular a{color: #668888;text-decoration:none;} .spring .vvvvv-popular a:visited {color: #777;}
.spring .vvvvvv-popular a{color: #668888;text-decoration:none;} .spring .vvvvvv-popular a:visited {color: #777;}
.spring .vvvvvvv-popular a{color: #668888;text-decoration:none;} .spring .vvvvvvv-popular a:visited {color: #777;}
.spring .vvvvvvvv-popular a{color: #668888;text-decoration:none;} .spring .vvvvvvvv-popular a:visited {color: #777;}
.spring ul#secondary-nav a {color: #fff;}
.spring ul#secondary-nav a:link,
.spring ul#secondary-nav a:visited {
    background-color: #688;
}
.spring ul#secondary-nav a:hover,
.spring ul#secondary-nav a:active  {
    background-color: #cd4;
}
.spring ul#secondary-nav li.current a {background: #634;}
.spring .pagination li a {color: #1a030c;} 
.spring .pagination_current,
.spring .pagination li a:hover,
.spring .pagination ul li.pagination_next a,
.spring .pagination ul li.pagination_last a,
.spring .pagination ul li.pagination_previous a,
.spring .pagination ul li.pagination_first a {
    color:#ccdd44;
}
.spring .pagination ul li.pagination_next a:hover, 
.spring .pagination ul li.pagination_last a:hover, 
.spring .pagination ul li.pagination_previous a:hover, 
.spring .pagination ul li.pagination_first a:hover {
    color:#668888;
}
.spring .item-img img {border: 1px solid #ccdd44;}
.spring .item-type {color: #554433;}
.spring .item-meta {border-top: 1px dashed #bfbfbf;}
.spring p.view-items-link,
.spring p.view-items-link a {
    color:#554;
}
.spring .meta-main {border-top: 1px dashed #bfbfbf;}
.spring .meta-main .runinHead {color:#543;}
.spring #secondary .featured-box p .title, 
.spring #secondary .featured-box p .title a, 
.spring #primary .featured-box p .title, 
.spring #primary .featured-box p .title a:visited, 
.spring #secondary .featured-box p .title a:visited,
.spring #secondary .featured-box p .title a, 
.spring #primary .featured-box p .title a {
    color:#fff;
}
.spring .featured-box h2 {
    color: #1a030c;
    border-bottom:1px dashed white;
}
.spring .featured-box.title,
.spring .featured-box.title a,
.spring .featured-box.title a:visited {
    color:#fff;
}
.spring .featured-box img {border: 10px solid #fff;}
.spring #featured-exhibit,
.spring #featured-item {
    background-color: #668888;
}
.spring #featured-collection {background-color: #ccdd44;}
.spring #sidebar-featured-item {background: #544;}
.spring .featured img {
    border: 1px solid #bfbfbf;
    background:#fff;
}
.spring #sidebar-featured-item .description p,
.spring #sidebar-featured-item h2,
.spring #sidebar-featured-item a  {
    color: #fff;
}
.spring #featured-item a:hover {color: #ccdd44;}

}/*end @media screen*/
/* Print Styles */
@media print {
body{
	font:12px Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
}
#content{
	width:100%;
	margin:0;
	float:none;
}
h1,
#site-title{
	font-size:16pt;
	font-weight:bold;
}
h2{
	font-size:14pt;
	font-style:italic;
}
h3 {
	font-size:14pt;
}
h4 {
	font-weight:bold;
}
h5 {
	font-weight:bold;
	font-style:italic;
	text-transform:uppercase;
}
a:link:after {
	content: " (" attr(href) ") ";
	font-size:80%;
}
#search-container,
#primary-nav,
#header-image,
.navigation,
.pagination,
#exhibit-page-navigation,
.exhibit-section-nav,
.exhibit-page-nav {
	display:none;
}
blockquote {
	margin:10pt 0 0 0;
	font-style:italic;
}
}/*end @media print*/