/* @override http://digital-dev.library.ucsb.edu/themes/light/css/print.css */

ul.simple-pages-navigation {
	display: none;
}

#search-container {
	display: none;
}

#footer {
	clear: both;
}

#primary-nav, #secondary-nav {
	display: none;
}

.pagination {
	display: none;
}

a {
	text-decoration: none;
}
