
/* 
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/

/* == Imports == */

@import url("reset.css");

/* == Generic == */

body {
	font: 62.5% "Helvetica Neue",Helvetica, Arial, sans-serif;
	color: #333;
	background: #fff;
}

/* -- Headings -- */

h1, h2, h3 {
	font-weight: normal;
	font-family: 'Gill Sans', sans-serif;
	color: #03428e;
}

h1 {
	font-size: 2.4em;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

h2 {
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0 0 1.2em;
	font-weight: normal;
	color: #03428e;
}

h4 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	font-weight: bold;
}

h5 {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	font-style: italic;
}

body#home #content h2 {
	font-size: 2.4em;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

body#home #content h3 {
	font-size: 1.8em;
	line-height: 2em;
	margin-bottom: 0;
}

#items.show h3 {
	margin: 0;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}

img a {
	border: none;
}

/* -- Misc Block elements -- */

p {
	font-size: 1.4em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

ul {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

ol {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	list-style: decimal inside;
}

dl {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

/* -- Misc Inline elements -- */

em,i {
	font-style: italic;
}

strong,b {
	font-weight: bold;
}

abbr,acronym {
	border: none;
	font-style: normal;
}

/* -- Links -- */

a:link {
	color: #03428e;
}

a:visited {
	color: #03428e;
}

a:hover {
	color: #6698ff;
}

a:active {
	color: #6698ff;
}

/* -- Body Classes -- */

.browse {
	
}

.item {
	
}

.show {
	
}

.summary {
	
}

.tags {
	
}

/* -- Misc Classes */

.image {
	
}

/* items/browse  */

.description {
	
}

.even {
	
}

.odd {
	
}

/* Navigation Classes*/

.navigation {
	list-style: none;
}

.navigation li {
	display: inline;
}

.navigation a {
	text-decoration: none;
}

/* Pagination Classes */

.pagination {
	
}

.pagination li {
	display: inline;
	padding: 6px 8px;
	background: #0176b4;
	color: #fff;
	margin-right: 1px;
}

.pagination a {
	color: #fff;
	text-decoration: none;
}

.next {
	
}

.previous {
	
}

/* Items Classes*/

.browse-items-link {
	
}

.featured {
	
}

.element {
	overflow: hidden;
	clear: both;
	margin-bottom: 1.5em;
}

.element-text {
	font-size: 1.2em;
	margin: 0;
}

.element-text p {
	margin: 0;
	font-size: 1.4em;
	line-height: 1.6em;
}

.element-text-empty {
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0;
}

.browse .item {
	border-bottom: 1px solid #eee;
	padding-bottom: 18px;
	margin-bottom: 18px;
	overflow: hidden;
	zoom: 1;
}

.browse .item h2 {
	float: left;
	width: 198px;
	margin-right: 18px;
}

.browse .item img {
	float: right;
/*	width: 198px; 
	height: 198px;
	*/
}

.browse .item-description {
	float: left;
	width: 414px;
}

.item-img {
	
}

.items-list {
	
}

.item-meta {
	
}

.item-pagination {
	clear: both;
	overflow: hidden;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 5px;
	padding-bottom: 5px;
}

.item-pagination a {
	text-decoration: none;
	font-weight: bold;
	width: 48%;
	float: left;
}

.item-pagination .next a {
	float: right;
	text-align: right;
}

.item-tags {
	clear: left;
	margin-left: 216px;
}

.item-thumbnail {
	
}

.item-title {
	
}

.square_thumbnail img {

/*width: 54px; height:54px;*/ 
	float: left;
	margin-right: 18px;
}

/* Collections Classes */

.collection {
	padding: 14px;
	margin: 8px;
	-webkit-box-shadow: 0px 3px 5px #gray;
	-moz-box-shadow: 0px 3px 5px #03428f;
	box-shadow: 0px 3px 5px #03428f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

.collection-description {
	
}


.collection-item{
	float: left;
	padding: 8px;
	margin: 12px;
	width: 45%;
	/*border: 1px solid #eaeaea;*/


	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.collection-item:nth-child(odd){
	clear: left;
}

#collection-items{
}

/* Exhibits Classes */

.exhibit {
	
}

.exhibit-description {
	
}

.exhibit-tags {
	
}

.exhibit-section-nav {
	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em;
	padding: 0.3em;
}

.exhibit-section-nav li {
	padding: 0.5em 0;
	display: inline;
}

.exhibit-section-nav a {
	padding: 0.5em 1em 0.5em;
	color: #666;
	text-decoration: none;
}

.exhibit-section-nav li a.current {
	border-top: 1px solid #ccc;
	background: #fff;
	color: #333;
	font-weight: bold;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

.exhibit-page-nav {
	color: #fff;
}

.exhibit-page-nav li {
	display: inline;
	color: #fff;
	margin-right: 1px;
}

.exhibit-page-nav a:link, .exhibit-page-nav a:visited {
	color: #fff;
	padding: 6px 8px;
	background: #0176b4;
	text-decoration: none;
}

.exhibit-page-nav a:hover, .exhibit-page-nav .current a {
	background: #82cafa;
}

.exhibit-page-nav a:active {
	color: #fff;
	padding: 6px 8px;
	background: #0176b4;
	text-decoration: none;
}

.exhibit-page-nav .current a {
	background: #82cafa;
}

/* Microformats Classes */

.hentry {
	
}

/* Search Classes */

.no-results {
	
}

/* Tags Classes */

.tags {
	
}

.tags li {
	display: inline;
}

/* Tag Clouds */

.hTagcloud ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.hTagcloud li {
	display: inline;
	margin-right: 3px;
}

.popular a {
	font-size: 120%;
}

.v-popular a {
	font-size: 140%;
}

.vv-popular a {
	font-size: 180%;
}

.vvv-popular a {
	font-size: 220%;
}

.vvvv-popular a {
	font-size: 260%;
}

.vvvvv-popular a {
	font-size: 300%;
}

.vvvvvv-popular a {
	font-size: 320%;
}

.vvvvvvv-popular a {
	font-size: 340%;
}

.vvvvvvvv-popular a {
	font-size: 360%;
}

/* == Wrap == */

#wrap {
	width: 882px;
	margin: 36px auto;
}

/* == Header == */

#header {
	height: 12em;
	width: 860px;
	height: 56px;
}

#site-title {
	float: left;
	margin-top: 0em;
	font-weight: normal;
	font-family: 'Gill Sans', sans-serif;
	color: #03428e;
	font-size: 3.0em;
	text-transform: uppercase;
	letter-spacing: .2em;
	line-height: 1em;
	width: 432px;
}

#library_logo {
	display: inline;
	float: left;
	margin-right: 18px;
}

#site-title a {
	text-decoration: none;
}

#search-container {
	float: right;
	width: 270px;
	text-align: right;
}

#search-container h2 {
	display: none;
}

#search-container input {
	border: 1px solid #ccc;
	background: #fafafa;
	padding: 3px;
}

#search-container input.textinput:focus {
	background: #fff;
}

#search-container #submit_search {
	padding: 2px;
	background: #03428e;
	color: #fff;
	border: 1px solid #03428e;
	margin-left: 3px;
}

#search-container a {
	font-size: 1.2em;
	line-height: 1.5em;
	text-decoration: none;
}

#primary-nav {
	clear: both;
	overflow: hidden;
	zoom: 1;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
}

#primary-nav li {
	width: 144px;
	text-align: left;
	text-indent: 18px;
	float: left;
	display: block;
}

#primary-nav a {
	text-decoration: none;
	display: block;
	padding: 9px 0;
	background: #fafafa;
	width: 143px;
	border: 1px solid #ccc;
	border-width: 1px 1px 0px 0;
}

#primary-nav a:hover {
	background: #fff;
}

#primary-nav li.current a {
	background: #fff;
	color: #6698ff;
}

/* == Content == */

/* Structure */

#content {
	padding: 18px 18px 0;
	overflow: hidden;
	zoom: 1;
	border: 1px solid #ccc;
	background: #fff;
	border-top-width: 0;
}

#primary {
	
}

#secondary {
#	display: none;
}

#secondary-nav {
	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em;
	padding: 0.3em;
}

#secondary-nav li {
	padding: 0.5em 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#secondary-nav a {
	padding: 0.5em 1em 0.5em;
	color: #666;
}

#secondary-nav li.current a {
	border-top: 1px solid #ccc;
	background: #fff;
	color: #333;
	font-weight: bold;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-description a.show {
	padding-left: 5px;
	display: inline;
}

/* General */

#pagination-top {
	
}

#pagination-bottom {
	
}

/* Navigation */

#primary-nav {
	
}

#secondary-nav {
	
}

/* Home Page */

#home #primary {
	float: left;
	width: 414px;
}

#home #secondary {
	float: right;
	width: 414px;
}

#featured-collection {
	border-bottom: 1px solid #ccc;
	margin-bottom: 18px;
}

#featured-item {
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ccc;
	background: #eee;
	padding: 18px 18px 0;
	margin-bottom: 18px;
}

#featured-item img {
	float: right;
	margin-left: 18px;
	margin-bottom: 18px;
	border: 1px solid #ccc;
	padding: 2px;
}

#recent-items {
	
}

#recent-items .item {
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ccc;
}

#recent-items .item img {
	float: right;
	margin-left: 18px;
	margin-bottom: 18px;
	border: 1px solid #ccc;
	padding: 2px;
}

#featured-exhibit {
	
}

.item-description {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.item-description p {
	font-size: 1em;
}


/* Items Pages */

#items.show #primary {
	width: 558px;
}

ul.title-list {
	margin: 0;
}

.title-list li {
	font-size: 1.2em;
	line-height: 1.5em;
	font-style: italic;
}

#extended-metadata {
	
}

#item-type {
	
}

#item-metadata {
	
}

#item-images {
	/*overflow: hidden;*/
	margin-bottom: 18px;
}

#item-images-thumbs {
	margin: 18px 0 18px -18px;
}

#item-publisher {
	
}

#item-creator {
	
}

#item-description {
	
}

#item-relation {
	
}

#item-spatial-coverage {
	
}

#item-rights {
	
}

#item-source {
	
}

#item-subject {
	
}

#item-additional-creator {
	
}

#item-format {
	
}

#item-contributor {
	
}

#item-rights-holder {
	
}

#item-provenance {
	
}

#item-date {
	
}

#item-temporal-coverage {
	
}

#item-date-added {
	
}

#item-collection {
	
}

#item-files {
	
}

#item-tags {
	
}

#item-citation {
	
}

#next-item {
	
}

#previous-item {
	
}

/* Search Results */

#primary form {
	padding: 10px 0;
	overflow: hidden;
}

#primary form .field {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	clear: both;
}

#primary form .field label {
	display: block;
	float: left;
	margin-right: 5px;
}

input#featured, input#public {
	display: block;
	float: left;
}

#primary form #submit_search {
	clear: both;
	float: left;
	margin-top: 10px;
}

#advanced_search_header {
	
}

#primary #basic_search_header {
	
}

/* Exhibits Pages */

#exhibit-nav {
	
}

#exhibit-summary {
	
}

#exhibit-show {
	
}

/* Collections Pages */

#collection-description {
	
}

#collectors {
	
}

/* == Footer == */

#footer {
	clear: both;
	font-weight: bold;
	overflow: hidden;
	zoom: 1;
	padding-top: 18px;
}

#footer a {
	text-decoration: none;
}

#footer .navigation {
	float: right;
	text-align: right;
	width: 48%;
}

#footer .navigation li {
	display: inline;
}

#footer .navigation a {
	margin-left: 8px;
}

#footer p {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

#footer td {
	vertical-align: top;
}
ul.exhibit-section-nav li {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin: 1px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#exhibit-page-navigation {
	margin: 15px;
	font-size: larger;
}

