@media screen {
/* == Reset Styles == */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-align: left;
    vertical-align: top;
}
a img, :link img, :visited img {
    border: 0;
}
a,:active {outline:0;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
    content: "";
}

/* == Components == */

/* -- Misc Classes -- */
.navigation {overflow:hidden; zoom:1;}
.hide {width:0; height:0; position:absolute; left:-999em;}
.error {background:#f1c8ba; color:#933; margin:1.5em 0; font-size:1.2em; padding:1.5em;}
.field .error {clear:both;}
.success {background-color: #B9D5B9; color:#245525; font-size:1.2em;padding:1.5em;margin-bottom:1.5em;}
.alert {background:#fff09e; font-size:1.2em; padding: 1.5em;margin-bottom:0.5em;}
.tooltip {font-size:1.2em; line-height:1.5em;}
.errors {color:#933;}

/* -- Form Components -- */
form {overflow:hidden; zoom:1;}
div.field {overflow:hidden; zoom:1; position:relative; border-bottom:1px dotted #eee; padding: 18px 0;}
    
    label, div.label {font-size:1.2em; color:#444;font-weight:bold; margin-bottom:0.5em; text-align:left;display:block;width: 198px; float:left;}
    label.required:after {content: " *"; color:#777; font-size:14px;font-weight:normal;}
        
    input.textinput, select, textarea {border:1px solid #DDDAD3;padding:3px;background-color:#fff !important; font-family:"Lucida Grande", sans-serif; font-size:1.2em;}
    
    .inputs textarea {
        max-width:98%;
    }
    
    button, 
    .submit, 
    input[type="submit"],
    .button {
        text-align:center;
        text-decoration:none;
        clear:both; 
        margin:9px 0;
        background: #6d8e1d url("../images/glass-btn.png") repeat-x 0 50%; 
        float:right; 
        color:#fff !important;
        padding: 3px 6px;
        border:none; 
        border:1px solid #6d8e1d;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }

    .delete-button {background-color: #800 !important; border-color: #800 !important;}
    td .delete-button {margin: 0; padding: 1px 6px; float: none;}
    
    input[type="submit"].add-element, input.remove-element, .checkbox input {border:0; background-color:transparent !important;}
    
    input.add-element,
    input.remove-element {
        border:none;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        background-repeat:no-repeat;
    }
    
    input.add-element {background-image:url("../images/add.png");}
    input.remove-element {background-image:url("../images/delete.gif");}
    
    .dateinput input {margin-right: 3px;}
    
    #required-note {font-size: 0.6em; color: #777; display: block;}
    
    /* Buttons - different sizes, uses background images */
    .submit-extrasmall {width: 46px;}
    .submit-small {width: 70px;}
    .submit-medium {width: 100px;}

    /* Configure button */
    .configure-button {
        text-align:center;
        text-decoration:none;
        color:#eee !important;
        font-size:11px;
        font-family:"Lucida Grande", Verdana, sans-serif;
        font-weight:bold;
        margin:9px 0;
        background: #38c url("../images/glass-btn.png") repeat-x 0 50%; 
        padding: 4px 8px;
        width: 80px; 
        border:none; 
        border:1px solid #38c;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        margin-bottom:12px;
        margin-left:8px;
        float:none;
    }
    .configure-button:hover {background-color: #369;border-color:#369;color:#fff;}

    /* Plugins */
    .uninstall {background-color: #800 !important; border-color: #800 !important;}
    .deactivate {background-color:#c60 !important; border-color: #c60 !important;}
        
    .uninstall:hover, 
    .deactivate:hover {}

    /* Replaces tooltips */
    .field {
        overflow:hidden; zoom:1;
    }
    .field .explanation, .hint {font-size:11px; margin-bottom:0;color: #999; clear:both;}
    #item-form .field .explanation, #editfile .field .explanation, .hint, .theme-configuration .field .explanation {margin-left:216px; clear:right;}
    
    /* Changes the width of inputs depending on the layout */
        .vertical-nav .inputs {}
        .vertical-nav .field label, .vertical-nav .field div.label {float:left; margin:0; width: 116px;}
        .vertical-nav #item-form .field .explanation, 
        .vertical-nav .field .hint,
        .vertical-nav .field .explanation {margin-left: 172px;}
        
        /* .input used to wrap input fields in items/add form */
        .field .inputs {float:right; width: 594px; overflow:hidden; zoom:1;}
        .vertical-nav .field .inputs {width: 440px;}
                
/* -- Layout -- */

#primary { background:#fff; padding:18px;border:1px solid #d7d5c4; border-width: 3px 0;}
#secondary {}
#tertiary {background:#fff; padding: 18px; border:1px solid #d7d5c4; border-width: 3px 0;}

/* .primary */
.primary .vertical-nav #primary {width: 612px;}
.primary .vertical-nav #primary .textinput, .primary .vertical-nav #primary select {}

/* .primary-secondary */
.primary-secondary #primary, .vertical-nav #primary {float:left; width: 558px;}
.primary-secondary #secondary {float:right; width: 224px;}

/* .primary-secondary-tertiary */
.primary-secondary-tertiary #primary {float:left; width: 558px;}
.primary-secondary-tertiary #secondary {float:right; width: 224px;}
.primary-secondary-tertiary #tertiary {clear:both;}

/* Secondary content */
#secondary {}

/* -- Navigation -- */

/* vertical-nav */
.vertical-nav ul#section-nav {margin:0; padding:0;float:left; width: 198px;font-size:1.1em;margin-top:18px;background:transparent url("../images/list-border-tan.gif") bottom left repeat-x;}
    .vertical-nav ul#section-nav a {text-decoration:none; display:block;padding:9px 9px 6px; color: #467;background:transparent url("../images/list-border-tan.gif") top left repeat-x;}
    .vertical-nav ul#section-nav a:hover {background-color:#f6f5e9;}
    .vertical-nav ul#section-nav li.current a, .vertical-nav ul#section-nav li a.active {background:#fff !important; font-weight:bold;color: #c60;border:1px solid #d7d5c4;border-width:1px 0 0 3px;}

.horizontal-nav ul#section-nav {margin:0; padding:0;font-size:1.1em; padding:9px 0 12px;}
    .horizontal-nav ul#section-nav li {display:inline;}
    .horizontal-nav ul#section-nav a {text-decoration:none; padding:9px 12px 12px; width: 126px;  color: #467; }
    .horizontal-nav ul#section-nav a:hover {color: #467; background:#E1DFD0;}
    .horizontal-nav ul#section-nav li.current a {background:#d7d5c4;font-weight:bold;color: #333;border:1px solid #d7d5c4;border-width:0 0 1px;}

/* Side info panels */
.info-panel {background:#fff;overflow:hidden;zoom:1; z-index:100;border:1px solid #d7d5c4;display:block;margin-bottom:18px; padding:18px 18px 1px; border-width: 0 0 3px;}
    .info-panel h2 {margin:-18px -18px 18px; font-family:"Lucida Grande",Helvetica, Arial, sans-serif;font-size:1.2em;padding: 9px 18px; color: #fff; background: #467;}
    .info-panel h3 {font-size:1.2em; font-weight:bold; margin-bottom:0.5em;}
    .info-panel li {background:url("../images/bullet_blue.gif") 0 6px no-repeat; padding-left:20px;padding:7px 0 7px 20px;border-bottom:1px dotted #ddd;}
    .info-panel li a {text-decoration:none; display:block; color: #c60; }
    .info-panel li a:hover {color:#389;}
    .info-panel p, .info-panel ul, .info-panel ol {font-size:1.1em;}

    .info-panel input.textinput, .info-panel textarea {width: 180px !important;}

/* Previous/Next navigation */
.previous, .next {float:left; display:block; width: 48%;}
    .next {float:right; text-align:right;}

/* Icons -- Silk Icons, created by FamFamFam, and available at http://www.famfamfam.com/lab/icons/silk */

.use-icon,
.contributor,
.super,
.admin,
.researcher,
.default,
.add,
.delete,
.delete-element,
.error,
.success,
.edit,
.browse,
.editsettings,
.managethemes,
.manageplugins,
.browse-users,
.add-user,
.edit-user,
.browse-collections,
.add-collection,
.add-file,
.previous a,
.add-element,
.remove-element
{background-position: 12px 50%; background-repeat:no-repeat; padding-left: 32px; text-decoration:none;}

table .edit, table .delete, table .researcher, table .super, table .admin, table .contributor {background-position:0px 50%; padding-left:18px;}

.go,
.next a
{background-position:center right; text-align:right;background-repeat:no-repeat; padding:2px 18px 2px 0; text-decoration:none;background-image:url("../images/bullet_go.gif");}

.previous a {background-image:url("../images/bullet_back.gif");}
.next a {background-image:url("../images/bullet_go.gif");}
.contributor {background-image:url("../images/user_red.gif");}
.super {background-image:url("../images/user_suit.gif");}
.admin {background-image:url("../images/user_orange.gif");}
.researcher {background-image:url("../images/user_green.gif");}
.default {background-image:url("../images/user_gray.gif");}
.add-file {background-image:url("../images/disk_multiple.gif");}
.add {background-image:url("../images/page_add.gif");}
.delete, .delete-element {background-image:url("../images/delete.gif");}
.error {background-image:url("../images/error.gif");}
.success {background-image:url("../images/tick.gif");}
.browse {background-image:url("../images/book_open.gif");}
.add-collection {background-image:url("../images/folder_add.gif");}
.browse-collections {background-image:url("../images/folder.gif");}
.editsettings {background-image:url("../images/cog.gif");}
.managethemes {background-image:url("../images/layout.gif");}
.manageplugins {background-image:url("../images/plugin.gif");}
.browse-users {background-image:url("../images/user_female.gif");}
.add-user {background-image:url("../images/user_add.gif");}
.edit-user {background-image:url("../images/pencil_go.gif");}
.edit {background-image:url("../images/pencil_go.gif");}
.browse-names {background-image:url("../images/group.gif");}

#primary .item-file img,
#primary .item-file object {
    max-width: 100%;
}

th.sorting {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 15px;
}

th.desc {
    background-image:url("../images/bullet_arrow_down.png");
}
th.asc {
    background-image:url("../images/bullet_arrow_up.png");
}

/* == Global Styles == */
body {font:62.5% "Lucida Grande",Verdana, Arial, Helvetica, sans-serif; background:#eae9db;color: #333;min-width:882px;}
    
    /* Headings */
    h1,#site-title {font-weight:normal; font-size:2.4em; margin-bottom:1em; line-height:1.5em;margin-right:12em;}
    h2, legend {font-size:1.8em; font-weight:normal; line-height:1.2em; margin-bottom:1.2em;}
    h3 {font-size:1.4em; line-height:1.2em; margin-bottom:0.4em;}
    h4 {font-size:1.2em; line-height:1.5em; font-weight:bold;}
    h5 {font-size:1.2em; line-height:1.5em; font-style:italic;}
    
    h1 {color:#a74c29;}
    h2,form legend {color:#467;}
    
    h1, #site-title, h2,dt,legend {font-family:Georgia, Times, "Times New Roman", serif;}

    /* Links */
    a:link {color:#389;}
    a:visited {color:#389;}
    a:hover {color:#369;}
    a:active {color:#555;}

    h1 a, h2 a, h3 a {text-decoration:none;}
    a img {border:none;}
    
    /* Misc elements */
    p,ul,ol,dl,address {font-size:1.2em; line-height:1.5em; margin-bottom:1.5em;}
    ul ul {font-size:1em; margin-left:1.5em;}
    dd *,
    li * {font-size:1em;}
    ul {list-style:none;}

    em,i {font-style:italic;}
    strong,b {font-weight:bold;}
    
    h1 span {color: #444;}
    
    /* Tables */
    table {width:100%;font-size:1.2em;margin-bottom:1.5em; line-height:1.5em;border-bottom:1px solid #d7d5c4;}
        thead th { font-weight:bold;color:#c50;border:1px solid #d7d5c4; border-width: 0 0 2px;}
        tbody th { font-weight:bold;}
        
        th,td {padding:0.75em;}
        tbody tr {padding:0.75em 0;}
        tr.even {}
        tbody tr {border-top:1px dotted #d7d5c4;}
    table * {font-size:1em;margin:0;}
            
    /* Form Buttons */
    #add-item, #save-changes, #edit-item {float:right; text-decoration:none;}
    #add-item:hover, #save-changes:hover {background-position:0 0 !important;cursor:pointer;}
    
    button.remove_search {
        float:none;
        display:inline;
        width:2em;
    }
    button.add_search {
        margin-left:220px;
        float:none;
    }
    /* Simple Search */
    #simple-search-form {
        padding:0;
        width: 232px;
        float:right;
        margin-top:0;
        clear:right;
    }

	#simple-search-form fieldset {
		text-align:right !important;
	}
        #simple-search-form #search {
            border-radius:6px; 
            -webkit-border-radius:6px; 
            -moz-border-radius:6px; 
            margin:0 4px 0 0;
            display:inline !important;  
        }
        #simple-search-form #submit_search {
            text-align:center;
            text-decoration:none;
            color:#fff !important;
            clear:both; 
            margin:0;
            background: #6d8e1d url("../images/glass-btn.png") repeat-x 0 50%; 
            color:#fff;
            padding: 3px 6px;
            border:none; 
            border:1px solid #6d8e1d;
            border-radius:6px;
            -webkit-border-radius:6px;
            -moz-border-radius:6px;
            display:inline !important;
			float:none;
        }
        #advanced-search-link a {text-decoration:none; font-weight:bold; color: #389;display:block; text-align:right;padding-top:5px; font-size:1.1em;}
    
    /* Pagination */
    .browse-items .pagination {float:left; width: 414px; padding-top:5px;}
    .pagination li {display:inline;padding: 3px 6px; }
    .pagination li.pagination_current {display:inline;background:#389; color:#fff;border:1px solid #389;border-radius:4px; 
    -webkit-border-radius:4px; 
    -moz-border-radius:4px;}
    .pagination li.pagination_range, 
    .pagination li.pagination_previous, 
    .pagination li.pagination_first, 
    .pagination li.pagination_next, 
    .pagination li.pagination_last {padding:0;display:inline;}
        .pagination a {text-decoration:none; color:#333;background: #FAFAF7; border:1px solid #d7d5c4;border-radius:6px; 
        -webkit-border-radius:6px; 
        -moz-border-radius:6px;padding: 3px 6px;}
        .pagination a:hover {background: #c60; color: #fff;}
    
    /* Tagclouds */ 
    .hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height: 3em;}
        .hTagcloud li {display:inline;}
        .hTagcloud a {text-decoration:none;}

        .popular,.-popular {font-size:100%;}
        .v-popular {font-size:150%;}
        .vv-popular {font-size:200%;}
        .vvv-popular {font-size:250%;}
        .vvvv-popular {font-size:300%;}
        .vvvvv-popular {font-size:350%;}
        .vvvvvv-popular {font-size:400%;}
        .vvvvvvv-popular {font-size:450%;}
        .vvvvvvvv-popular {font-size:500%;}
        
    /* Misc Classes */
    .add-button {position:absolute; top:20px; right:0; text-align:right;}
    .add-button a {background-color: #F4F3EB; color: #c50;padding-top:10px; padding-bottom:10px;padding-right: 10px;}
    .add-button a:hover {background-color: #FAFAF7;color: #333;}
    
    .edit-button {position:absolute; top:20px; right:0; text-align:right;}
    .edit-button a {background-color: #F4F3EB; color: #c50;padding-top:10px; padding-bottom:10px;padding-right: 10px;}
    .edit-button a:hover {background-color: #FAFAF7;color: #333;}
    
    .view-public-page {font-size:11px; font-family:"Lucida Grande", Verdana, Arial, sans-serif;}
/* == Wrap == */
#wrap {}

/* == Upgrade Database == */
#upgrade-database {background: #378; color: #fff !important;overflow:auto; padding: 36px 36px 18px;}
    #upgrade-database p {margin:0 0 18px; width: 396px; opacity:0.95;float:left;}
    #upgrade-database h2 {color:#fff;float:left; margin-right: 36px;width: 270px;}
    #upgrade-database-link {float:none; font-size:14px; padding: 6px 12px; display:block; clear:left; margin-left: 306px; width: 8em;margin-top: 36px;background-color: #58909E; border-color: #58909E;}
    #upgrade-database-link:hover {background-color: #6B9CA8; border-color: #6B9CA8;}

/* == Header == */
#header {background:#251e16; padding-top: 0;clear:both;overflow:hidden; }

    #site-title {margin:18px 0;margin-left:36px;float:left; width: 20em;}
    #site-title a {text-decoration:none; color:#fff;}
    
    #site-info {float:right; text-align:right; padding:10px 0;margin-right: 3px;}
    #site-info a {color:#fff; text-decoration:none;}
    
        #welcome {display:inline; padding: 8px 12px;color: #999; font-size:1.1em;}
        
        #settings-link {display:inline; font-size:1.1em; text-align:right; padding: 8px 12px; background: #a74c29;}
        #settings-link:hover {background: #c60;}
        
        #public-link {display:inline;padding: 8px 12px; font-size:1.1em;background: #467;}
        #public-link:hover {background: #389;}
    
    /* Primary Nav */
    .primary-nav {overflow:hidden; border:1px solid #777;background:#382e22;clear:both; margin-bottom:0;padding-left:36px;border-width:1px 0 0; font-size:1.1em; font-weight:normal;}
        .primary-nav li {display:block; float:left; width: 125px;border-right:1px solid #d7d5c4;}
        .primary-nav a {text-decoration:none;display:block; float:left; text-indent:12px;color:#fafafa;width: 125px;padding: 8px 0 16px;background:#2E261C;}
        .primary-nav a:visited {color:#fafafa;}
        .primary-nav a:hover {background:#382E22; color: #fafafa;}
        .primary-nav li.nav-items {border-left:1px solid #d7d5c4;}
        .primary-nav li.current a, .primary-nav li.current a:visited,
        .themes .primary-nav li.nav-settings a, 
        .plugins .primary-nav li.nav-settings a,
        .users .primary-nav li.nav-settings a {background:#eae9db; color: #333; font-weight:bold;}
        
/* == Content == */
#content { z-index:1000; margin-top:-1px; position:relative;margin:0 0 0 36px; padding:18px 0 0;width:846px;float:left; clear:both;}
    #content h1 {margin:-18px 0 18px; padding:18px 0 0; margin-right:8em;}
    
    /* Homepage */
        #getting-started dl {overflow:hidden;margin-bottom:18px; margin-left:0;display:block;}
        #getting-started dl * {font-size:1em;}
            #getting-started a {text-decoration:none;}
            #getting-started dt {clear: both; border-bottom:1px dotted #ccc; font-size:1.4em; display:block; padding-bottom:8px;margin-bottom:9px;}
            #getting-started dl ul {float:left; width:252px;margin:0 0 18px; padding:0;}
            #getting-started dl li {margin:0 0 0.5em;}
            #getting-started dd {overflow: hidden; display: inline;}
            #getting-started dd p {float:right; width: 252px;padding:0; margin:0 0 18px;}
                #getting-started p.help {clear:both; padding: 1em 0 0; border-top:1px dotted #ccc;}

        /* Info Panels - styles that enhance or override the component library styles */    
        #tag-cloud li, #tag-cloud li a {padding:0; border:none;background-image:none; display:inline;}
        #recent-items ul {margin-bottom:0;}
        #recent-items ul a {overflow:hidden; }
        #recent-items #view-all-items a {display:block; text-decoration:none; background:url("../images/bullet_go.gif") 100% 6px no-repeat; width: 8em;float:right;padding:6px 18px; text-align:right;}
    
    /* Item Browse styles */
    
    .browse-items .simple li.nav-list-view a {background:#d7d5c4;font-weight:bold;color: #333;border:1px solid #d7d5c4;border-width:0 0 1px;}
    
    #items-browse {clear:both;}
    #browse-meta {overflow:hidden; padding-bottom:18px;border-bottom:2px solid #d7d5c4;clear:both;}
    table#items {width:100%;} 
    .items #primary {clear:right;}
    
    #detailed {padding-top:18px;}
    #detailed .item {overflow:hidden; position:relative; border-bottom: 1px dotted #ccc;margin-bottom:18px;}
    #detailed .item h2, #detailed .item .edit-item {display:inline;}
    #detailed .item-description {float:right; clear:right;width: 396px; font-size:1.2em; line-height:1.5em;margin-left:18px;margin-top:18px;}
        #detailed .item-description img {float:right;}
        
    #detailed .item-meta {float:left; clear:left; width: 396px;}
    #detailed .item-meta ul {font-size:1.1em;}
    #detailed .item-meta li {padding: 9px 18px; background: #eee; text-align:right; overflow:hidden; border-bottom:2px solid #fff;}
    #detailed .item-meta li span {font-weight:bold;float:left; width: 10%;}
    
    #detailed .public-featured-checkboxes {float:right; clear:right;margin-bottom:9px;}
        #detailed .public-featured-checkboxes li {display:inline;}
    
    #detailed .append-to-item-detail {clear:both;}
    
    /* Item show styles */
    
    .element-text, .element-text-empty {margin-bottom:1.5em; margin-left:18px;font-size:1.2em; line-height:1.5em;}
        .element-text *, .element-text-empty * {font-size:1em;}
    
    .item-pagination {margin-top:18px;} 
    
    /* Item add-edit styles */
    #public-featured {position:absolute; top:36px; right:0; text-align:right;}  
        #public-featured .checkbox {text-align:right;float:none; overflow:hidden; display:inline;}
        #public-featured label, #public-featured input {display:inline; text-align:right;float:none; width: auto;}
        
            /* Elements specific to items-add form */
            .controls {float:right; width: 300px; text-align:left;}

            label.use-html { position:relative;float:left;padding-left: 16px;width: 8em;text-align:left; font-size:1.1em;margin:0;}
        
            .input-block {clear:both;position:relative;overflow:hidden;}
            
            label.use-html input {position:absolute; top:0; left:0; margin:0;float:none;padding:0;}

            
            input.remove-element {background-color: transparent !important; color: #900;padding-left:18px; display:none;}
            
            input.add-element {color: #359; font-weight:bold; color:#76bb5f !important;text-align:left;margin-left:0; float:none;padding-left:18px;padding-top:8px;}
            
            input.add-element, input.remove-element {cursor:pointer;font-size:1.1em;padding-top:0; background-position: 0 50%;padding-bottom:0px;}
        
        #file-list td.file-link {width: 25%;}
        #file-list td.delete-link {width: 10%;}
        #file-inputs a {float:left;display:block; font-size:1.2em; margin-left: 132px;margin-top:6px;}
        #file-inputs input {margin-bottom:6px;}
        
        #delete_item_link {padding: 18px 8px 8px 0;}
        #delete_item_link .delete {font-weight:bold;background-position:0 50%;padding-left:36px; color: #900;}
    
        #my-tags {float:right; width: 288px;}
        #other-tags {float:right; width: 288px; clear:both;}
            #my-tags-list, #other-tags-list {line-height: 2em;}
            #my-tags li, #other-tags li {display:block; float:left; position:relative; border:1px solid #ccc;padding: 2px 8px 2px 24px; margin-bottom: 12px; margin-right: 4px;}
            #my-tags input, #other-tags input {border-width: 0;padding:0 !important; position:absolute; top: 6px; left:4px;margin:0 !important;}
        
        #add-tags {float:left; width: 252px; padding:18px 18px 0; background: #F2F1E8;}
          #tags {border-color: #bbb; margin-bottom:5px;}
          #add-tags-explanation {font-size:1.1em; color: #777;margin-top:0; margin-left:0px;}
          
        #api, #resources { display:none; }
    
    /* Files Show Page */
    
    #mime-type-metadata-exif-array .element-text {overflow-x:scroll; border:1px solid #d7d6e5;padding:12px;}
    
    /* Files Edit Page */
        
    #delete-file-link {float:left; position:absolute; bottom:20px; left: 18px;width: 200px;}
    /* Advanced Search Form */
    .search-entry {margin-bottom:0px !important; overflow:hidden;}
    
    /* Tags Browse */
    .browse-tags #section-nav .nav-browse-tags a {background:#d7d5c4;font-weight:bold;color: #333;border:1px solid #d7d5c4;border-width:0 0 1px;}
    #tags-nav {font-size:1.1em;margin-bottom:3em;}
    #tags-nav a {display:inline;color:#fff; text-decoration:none; text-align:right; padding: 6px 9px; background: #c60;}
    #tags-nav a:hover {background: #a74c29;}
    #tags-nav a.current {background: #467;}
    
    /* Collection Browse styles */
    
    
    /* Collection Show styles */
    .collections h1 {display:inline;}
    .collections #primary {margin-top:18px;}
    
    /* Collection Edit */
    
    /* Item Types */
    #add-element-form {background:#fff;padding:0;}
    #add-element-form h3 {background:#fff;margin:0;padding-bottom:18px;}
        #add-element-form .field {border-bottom:1px solid #fff;background:#DDEBEE;}
        #add-element-form label {text-indent:18px;}
        #element-choice {font-size:1.1em; margin:0; padding: 10px 0;border-bottom:3px solid #389;}
        #element-choice li {display:inline;}
        #element-choice a {text-decoration:none;background: #77B0BB; color: #fff;padding: 8px 12px;border-bottom:3px solid #fff;}
        #element-choice a.active {background: #389;border-bottom-color: #389;}
        
        #add-element-form input, #add-element-form textarea, #add-element-form select {border-color: #99C4CC;}

    td.itemtype-name { width: 20%;}
    td.itemtype-description { width: 60%;}

    
    /* Settings */
    #settings-form .submit {float:right;}
    #im-result {margin-left:200px; font-size:11px;}
    .im-success {color: green;font-style: italic;}
    .im-failure {color: red;font-style: italic; }
    
    #test-button {display:inline; float:none; margin-left: 4px; margin-top:0;background-color: #389; border:1px solid #389;}
    
    #settings-form .textinput {display:inline; width: 400px;}
    #settings-form #path_to_convert {width: 350px;}
    
    /* Element Sets */
    td.element-set-name {width: 30%; }
    
    /* Security */
    #security-form .inputs button {float:none;background-color: #389; margin-right: 6px; border-color: #389;}
    
    /* Users */
    .users .nav-users a {background:#fff !important; font-weight:bold;color: #c60 !important;border:1px solid #d7d5c4;border-width:1px 0 0 3px;}
    #new-user-form .submit {float:right;}
    
    #sort-users-form {padding:12px 18px 8px; display:block;margin:-18px -18px 18px; background: #FAFAF7;}
    #sort-users-form fieldset, #sort-users-form fieldset p {display:inline; margin:0; padding: 0;}
    #sort-users-form fieldset p {font-weight:bold; font-size: 13px; padding-right: 6px;}
    #sort-users-form fieldset select {margin:0;display:inline; border:1px solid #d7d5c4;}
    #sort-users-form .submit-form {display:inline;margin:0 0 0 6px; float:none;}
    
    /* Plugins */
    #plugin-info {border-bottom:1px solid #d7d7c4;}
    .plugin-info .plugin-meta {font-size:11px; color: #999; font-style:normal;display:block;margin-bottom:0px;}
    .plugin-load-error .plugin-meta {color: #900 !important;}
    .plugin-info p, .plugin-info .plugin-meta {margin-bottom:12px;}
    .plugin-info .plugin-title {margin-bottom:0px; font-size:14px; margin-top:0;font-weight:bold;}
    
    #plugin-info tbody td {border:none;}
    #plugin-info tbody tr {border-top:1px solid #d7d7c4;}
    #plugin-info tbody tr.related-plugin-info, #plugin-info tbody tr.upgrade-plugin-notice {border:none;}
    #plugin-info button, #plugin-info .submit {font-size:11px; width: 80px; margin:0 0 6px 0 !important;}
    #plugin-info form {margin:0 !important; padding:0 !important;}
    
    #uninstall-confirm {margin-bottom:0;}
    #uninstall-confirm .submit {margin:-3px 0 0 !important; float:none !important;}
    
    .plugin-upgrade {color: #369; font-weight:bold; margin-top: 18px; font-size: 1.2em;}
    .plugin-load-error {background:#f1c8ba; background: rgba(153, 0, 0, 0.25); color: #900; border-color:#fff !important;}
    .plugin-load-error a {color:#900;}
    .plugin-load-error .plugin-info {
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
    .warnings {padding-bottom: 18px; color: #900;}
    .warnings strong {margin-bottom:0.6em;}
    .warnings ul {list-style:square; margin:0.6em 0 0 18px; font-size:12px;}
        .warnings li {margin-bottom:0em; line-height:1.3em;}
    /* -- Upgradable Plugins -- */
    tr.upgrade-plugin {background: #fff09e;background: rgba(255,240,150, 0.25);}
    .upgrade-plugin .upgrade, .plugin-load-error .upgrade {background-color: #369; border-color: #369;}
    
    /* Themes */
    #themeswitch .themes {margin-right:-18px; overflow:hidden; margin-bottom:-18px;}
    #themeswitch .theme {overflow:hidden;  margin-right:18px;border-bottom: 1px solid #d7d5c4;margin-bottom:18px; padding-bottom:18px;float:left; width: 296px;}
        #themeswitch .theme img {}
        #themeswitch .theme .description {height: 150px; border:1px solid #d7d5c4; overflow:hidden;}
        #themeswitch label {float:none !important; text-align:left; font-size:1.2em;width: auto;}

        #current-theme {background: #F2F1E8;clear:both; overflow:hidden; padding: 18px;margin-bottom:18px;}
        #current-theme img {border:6px solid #fff; float:right; margin-left:18px;}
        
        #current-theme .type {font-weight:bold;}
        
        #current-theme .value {display:block; margin-bottom:18px;}
        body.themes .configure-button {padding: 4px 8px;}
/* == Footer == */
#footer {clear:both; padding: 18px 0 1px;  overflow:hidden; margin:0 36px; width: 882px;background: #eae9db;}
    #footer p, #footer ul {font-size:1.1em;margin:0 0 18px;}
    #footer a {text-decoration:none; font-weight:bold; color: #c50;}
    #footer .primary-nav {float:right; width: 50%; text-align:right;}
    #footer p {float:left;}
    #footer .primary-nav li {display:inline;margin-left:1em;}
    
/* == Autocomplete (used for Scriptaculous Autocomplete) == */  
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  background-image: none;
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

/* == Login Page == */

body#login {width: 414px; margin: 54px auto;}

body#login #site-title {margin-left:0; margin-bottom:0; margin-top:0;}

body#login h1 {background:transparent; font-size:2em;margin:0 0 1em; padding:0; display:inline;float:left;}
body#login h2 {clear: both;}

body#login .error {clear:both; margin-bottom:0.5em;}

/* Header */
body#login #header {width: 414px; padding:18px; margin:0 auto 0; }

/* Content */
body#login #content {background:#fff; width: 414px;padding:18px; clear:both;margin:0 auto;overflow:hidden; zoom:1; float:none;}

body#login #login-links {display:block; float:right; width: 70%; text-align:right;color:#999; margin-top: 1em;margin-bottom:0; font-size:1.1em;}
    #login #login-links a {text-decoration:none; font-weight:bold; }

body#login #content form {clear:both;}
body#login .textinput {float:right; width: 240px;}
body#login #remember {margin-left: 12px; margin-top:0px;}
body#login label {float:left; width: 118px; text-align:right;}
body#login p.clear {clear:both;}

body#login div.field {background: #F2F1EE; padding:18px;margin-bottom:1px;}
body#login .inputs {width: 259px;}

body#login input.submit {float:right;margin-top:6px;margin-bottom:0;}

body#login #back-to-login {text-align:left; float:left; width: 280px;margin-bottom:0;}

/* Footer */
body#login #footer {padding:18px; margin:0 auto;width: 414px;}
    body#login #footer p {margin:0; width: auto; }

/* == Specific Hacks for IE7 :: Prepend each with '* + html' selector == */
* + html .field p.explanation {clear:both !important; display:block; margin-top: 8px !important; float:none !important;}

* + html label.use-html {padding:4px 0 0 20px;}

* + html a.add, 
* + html .edit-button a {display:block; padding: 8px 8px 8px 36px;}

* + html #footer {padding-bottom:18px;}
}